body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.show {
    color: white;
    background-color: rgb(48, 59, 70);
    transition: all 500ms ease;
}

.container {
    border: 1px solid lightslategray;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
        0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    border-radius: 10px;
}

.container div {
    margin: 15px;
}

.title h3 {
    text-align: center;
    font-size: 30px;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap column;
}

.submit__list {
    border-bottom: 1px solid lightslategray;
}

.submit__list span {
    margin-left: 5px;
}

.userNum {
    height: 30px;
    border-radius: 5px;
    border: 1px solid lightslategray;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
        0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.submit {
    margin-left: 15px;
    border: 1px lightslategray solid;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
        0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.compare {
    display: flex;
    justify-content: center;
    align-items: center;
}

.compare h3 {
    font-size: 23px;

}

.compare span {
    font-size: 30px;
}

.big__span {
    color: rgb(249, 75, 0)
}

.low__span {
    color: rgb(0, 179, 255)
}


.result {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(48, 59, 70);
}

.win,
.lose {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
    transition: all 1000ms ease;
    opacity: 0;
    visibility: hidden;
}

.win.showing,
.lose.showing {
    transform: translate(-50%, 10px);
    opacity: 1;
    visibility: visible;
}

.win {
    color: rgb(0, 179, 255);
}

.lose {
    color: rgb(249, 75, 0);
}

.bigger,
.lower {
    display: none;
}

.bigger.hint,
.lower.hint {
    display: block;
}

.reset {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.reset.down {
    position: absolute;
    top: 220px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 5px;
    border: none;
    transition: all 500ms ease;
}

.bigger,
.lower {
    display: none;
}

.hint {
    display: block;
}